<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/php/bootstrap.php"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
>
	<testsuites>
		<testsuite name="WooFlux">
			<file>tests/php/TestWooFluxQuery.php</file>
			<file>tests/php/TestWooFluxREST.php</file>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<directory suffix=".php">includes</directory>
		</include>
	</source>
</phpunit>
